<header class="navbar fixed-top navbar-inverse navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Sample app", root_path, id: "logo", class: "text-light" %>
    <nav>
      <ul class="nav navbar-nav d-flex flex-row">
        <li><%= link_to "Home", root_path, class: "text-light p-2" %></li>
        <li><%= link_to "Help", help_path, class: "text-light p-2" %></li>
        <li><%= link_to "Login", "#", class: "text-light p-2" %></li>
      </ul>
    </nav>
  </div>
</header>